@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans&display=swap');

*, *:before, *:after{
  box-sizing: border-box;
  margin: 0;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 68px;
  text-align: center;
  text-transform: lowercase;
  color: #FFFFFF;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 68px;
  text-transform: lowercase;
  color: #20201F;
  word-spacing: 60px;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 68px;
  text-transform: lowercase;
  color: #E5E2DE;
  position: absolute;
  left: 165px;
}

h4{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 49px;
  line-height: 58px;
  text-align: center;
  text-transform: lowercase;
  color: #20201F
}

p{
  font-family: 'Work Sans', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 33px;
  color: #20201F;
}

button{
  border: 1px solid #20201F;
  border-radius: 42px;
  padding: 13px 30px;
  background-color: transparent;
}

button a{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 19px;
  text-transform: lowercase;
  color: #20201F;
  text-decoration: none;
}

header{
  background-image: url(/img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  padding-top: 45px;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 734px;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}

nav a{
  text-decoration: none;
  font-family: 'Work Sans', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;color: #FFFFFF;
}

#logo{
  display: flex;
  max-width: 700px;
  margin: 224px auto ;
  justify-content: space-around;
}

.tables{
  background-color: #fff;
  display: flex;
}

.tables-text{
  width: 50%;
  padding: 145px 0 0 84px;
}

.tables-text h2{
  margin-bottom: 52px;
}

.tables-text p{
  padding-right: 48px;
  padding-bottom: 69px;
}

.tables-text button{
  margin-right: 28px;
  margin-bottom: 107px;
}

input[type=text]{
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  color: #8B8B8B;
  width: 323px;
  height: 62px;
  padding-left: 23px;
  border: 1px solid #8B8B8B;
  border-radius: 14px;
  margin-bottom: 37px;
}

.tables-image{
  width: 50%;
  position: relative;
}

.tables-image span{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  text-transform: lowercase;
  color: #E5E2DE;
  position: absolute;
  left: 17px;
  top: 279px;
}

#tables-1{
  position: absolute;
  top: 32px;
  right: 43px;
}

#tables-2{
  position: absolute;
  bottom: 0;
  left: 0;
}

#tables-3{
  position: absolute;
  right: 0;
  bottom: 61px;
}

.collections{
  background: #E5E2DE;
  padding-top: 116px;
  padding-left: 84px;
}

.dealer{
  height: 840px;
}

.dealer-img{
  background-image: url(/img/texture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.inspire{
  padding-top: 123px;
  background: #20201F;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.inspire-btn{
  color: #E5E2DE;
  border: 1px solid #E5E2DE;
  margin-top: 270px;
  margin-bottom: 122px;
}

.inspire-img{
  position: absolute;
}

#inspire-img-1{
  top: 0;
  left: 84px;
  width: 250px;
  height: 500px;
}

#inspire-img-2{
  top: 84px;
  right: 0;
  width: 250px;
  height: 225px;
}

#inspire-img-3{
  top: 410px;
  right: 98px;
  width: 250px;
  height: 250px;
}

.about{
  padding-top: 121px;
  padding-bottom: 115px;
  align-content: center;
  align-items: center;
}

.about-btn{
  display: block;
  position: relative;
  margin: 34px auto 0;
}
































